@import "tailwindcss";

@theme {
 
  --color-koara-bg: #F6DEEB;       
  --color-koara-primary: #F4B8D4;  
  --color-koara-dark: #D99EBD;     
  
  --color-koara-popup-bg: #F5E9F2;  
  --color-koara-fade-start: #FFFFFF;
}